<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rene.steppenwolf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".erzaehltechnik" />
        <activity android:name=".inhalt" />
        <activity android:name=".autor" />
        <activity android:name=".figures" />
        <activity android:name=".subfigures" />
        <activity android:name=".symbole_motive" />
        <activity android:name=".struktur" />
        <activity android:name=".aufsatztechnik" />
        <activity android:name=".pre_figures" />
        <activity android:name=".sources" />
        <activity android:name=".quiz_hermine" />
        <activity android:name=".quiz_allgemein" />
        <activity android:name=".pre_quiz" />
    </application>

</manifest>